In [1]:
a = 10
b = 20
name = "Nisha Yadav"
city ="Lucknow"

# operators
- Arithmetic
- assignment
- comparsion
- logical
- membership
- identity

In [2]:
#arithmatic operator
# + - * / % // **
x = 10
y = 3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)# remainder
print(x//y)# floor division
print(x**y)# x to the power y
15 ** 15

13
7
30
3.3333333333333335
1
3
1000

437893890380859375

In [1]:
#  assignment operator
# =  +=  -=  *=  /=  %=  **=   //= 
a = 10
b =  a + 20
c = a + b
c + c + 30
print(c)
# comparsion operator
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)
print(a == b)

40
False
True
True
False
True
False

In [3]:
# logical operators 
# and   or   not      
print(a>b and a<b)
print(a>b or a<b)
print(a>2 and a<b)
print(a>2 or a<b)
print( not a > 2)
print(not(a>b and a<b))

False
True
True
True
False
True

In [13]:
# membership operator
# in    not in  
name = "alexes"
print("h" in name)
print("a" in name)
print("A" in name)
print("x" in name)
nums= [10,20,30,40,50]
print(10 in nums)
print(100 in nums)
# is ( identity operator )
x = 10
y= 20
print(x is y)
nums=[ 10, 20, 30]
nums2= nums. copy()
print(nums is nums2 )

False
True
False
True
True
False
False
False