DICTIONARY
- How to declare it
-How to access key and values of a dictionary
- How to use loops in dictionary

In [2]:
students = {"name":"john",
            "class":"12th",
             "roll no":12,
              "age":17
}
print(students)

{'name': 'john', 'class': '12th', 'roll no': 12, 'age': 17}

In [41]:
temp={
    'lucknow':[25,30,35],
    'delhi':[30,35,40],
    'chennai':[24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [4]:
info = dict(name="riya",age=27,dept='HR',salary=30000)
print(info)

{'name': 'riya', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [5]:
info2 = dict(name=input("enter the name"),age = int(input("enter the age")),dept= input("enter the department"),salary=int(input("enter the salary"))) 
print(info2)

{'name': 'nisha', 'age': 22, 'dept': 'hr', 'salary': 30000}

In [12]:
# 1st Method 
print(students['name'])
print(students['roll no'])

john
12

In [13]:
#2 Method 
print(students.get("name"))
print(students.get('age'))

john
17

In [15]:
# To add item in a dictionary 
students['school'] = 'DPS'
students['city'] = 'LUCKNOW'
print(students)

{'name': 'john', 'class': '12th', 'roll no': 12, 'age': 17, 'school': 'DPS', 'city': 'LUCKNOW'}

In [17]:
for x in students:
    print(x)

name
class
roll no
age
school
city

In [18]:
for k,v in students.items():
    print(f'{k} : {v}')

name : john
class : 12th
roll no : 12
age : 17
school : DPS
city : LUCKNOW

In [22]:

print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'class', 'roll no', 'age', 'school', 'city'])
dict_values(['john', '12th', 12, 17, 'DPS', 'LUCKNOW'])
dict_items([('name', 'john'), ('class', '12th'), ('roll no', 12), ('age', 17), ('school', 'DPS'), ('city', 'LUCKNOW')])

In [34]:
company = {
    "emp001" : {
        'name': "john",
        "age" : 27,
        'department' :  "HR" ,
        'salary' : 30000
    },
    "emp002" : {
        'name': "riya",
        "age" : 25,
        'department' :  "IT" ,
        'salary' : 40000
    },
    "emp003" : {
        'name': 'mike',
        'age' : 30,
        'department' :  'finance' ,
        'salary' : 35000
    }
}
print(company)

{'emp001': {'name': 'john', 'age': 27, 'department': 'HR', 'salary': 30000}, 'emp002': {'name': 'riya', 'age': 25, 'department': 'IT', 'salary': 40000}, 'emp003': {'name': 'mike', 'age': 30, 'department': 'finance', 'salary': 35000}}

In [35]:
from pprint import pp

In [36]:
pp(company)

{'emp001': {'name': 'john', 'age': 27, 'department': 'HR', 'salary': 30000},
 'emp002': {'name': 'riya', 'age': 25, 'department': 'IT', 'salary': 40000},
 'emp003': {'name': 'mike',
            'age': 30,
            'department': 'finance',
            'salary': 35000}}

In [31]:
print(company['emp001']['department'])

HR

In [38]:
company['emp004'] = {
    'name' : 'sam',
    'department' : 'admin',
    'age' : 27,
    'salary' : 25000
}
pp(company)

{'emp001': {'name': 'john', 'age': 27, 'department': 'HR', 'salary': 30000},
 'emp002': {'name': 'riya', 'age': 25, 'department': 'IT', 'salary': 40000},
 'emp003': {'name': 'mike',
            'age': 30,
            'department': 'finance',
            'salary': 35000},
 'emp004': {'name': 'sam', 'department': 'admin', 'age': 27, 'salary': 25000}}

In [42]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

30
40

In [47]:
avg = sum(temp['delhi'])/len(temp['delhi'])
print(avg)

35.0

In [48]:
print('average temperature in Delhi :' , sum(temp['delhi'])/len(temp['delhi']))

average temperature in Delhi : 35.0

In [49]:
report = {
    'Alex' :{
        'english' : 85,
        'maths'   : 80,
        'science' : 78,
},
    'rahul': {
        'english' : 90,
        'maths'   : 85,
        'science'   : 90
    },
}
pp(report)

{'Alex': {'english': 85, 'maths': 80, 'science': 78},
 'rahul': {'english': 90, 'maths': 85, 'science': 90}}

In [53]:
for student , marks , in report.items():
    print(student)
    for subject,mark in marks.items():
        print('->', subject, mark)
    print('->Total marks:', sum(marks.values()))

Alex
-> english 85
-> maths 80
-> science 78
->Total marks: 243
rahul
-> english 90
-> maths 85
-> science 90
->Total marks: 265