In [1]:
x = {2,5,6,7,8,3,9}
print(x)

{2, 3, 5, 6, 7, 8, 9}

In [3]:
y = {1,2,3,4,5}
z = {1,2,3,4,5,6,5,4,4,5,6,7,5,6,5}
print(z)
print(y)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}

In [5]:
# convert string datatype into set
x = set("hello")
print(x)

{'o', 'e', 'l', 'h'}

In [6]:
# convert list into set
b = set([1,4,6,8,10,12])
print(b)

{1, 4, 6, 8, 10, 12}

In [7]:
# use of range function for creating set
c = set(range(11))
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
# to add an element in the set
data = set()
data.add(12)
data.add(17)
data.add(2)
data.add(9)
data.add(3)
print(data)

{2, 3, 9, 12, 17}

In [10]:
# To remove an element from set
# 1 method (it will always delete 1 element)
data.pop()

2

In [11]:
# 2 method
data.discard(9)

In [12]:
print(data)

{3, 12, 17}

In [13]:
# To clear or delete the all data
data.clear()

In [14]:
print(data)

set()

In [17]:
# operation on sets
a={1,2,3,4,5}
b={4,5,6,7,8}
c={7,8,9,10}
d={2,3,4}
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}

In [18]:
# Union operation
print(a.union(b))
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
#Intersection operation 
print(a.intersection(b))
print(a&b)

{4, 5}
{4, 5}

In [23]:
# Difference operation
print(a.difference(b))
print(a - b )

{1, 2, 3}
{1, 2, 3}

In [25]:
# superset 
print(a.issuperset(b))

False

In [2]:
#subset
d={2,3,4}
a={1,2,3,4,5}
print(d.issubset(a))

True